body{
        padding:0;
        margin:0;
}
      
html,body{
          height:100;
          width:100vw;
}
       
#mapid {
  height:100vh;
  width:100vw;
}

.sidebar-tab-icon{
 width: 32px;
 height: 32px;
}

sidebar.addPanel({
        id: 'ghlink',
        tab: '<img class ="sidebar-tab-icon" src="github_logo.png">',
        button: 'https://github.com/CZITTRegister/OnlineMapTraining',
        position: "bottom'
});
